.accordion__button {
  display: none;
}

[data-accordion=element].is-active > [data-accordion=content] {
  max-height: 100%;
}

[data-accordion=parent].no-transition [data-accordion=content] {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

[data-accordion=content] {
  max-height: 0;
  -webkit-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
  overflow: hidden;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rouble";
  font-display: swap;
  src: url("../fonts/rouble.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Mono";
  font-display: swap;
  src: url("../fonts/PTMono-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Placeholder", "Arial", sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #ffffff;
  box-shadow: inset 0 0 0 1000px #ffffff;
  -webkit-text-fill-color: #000000;
}

input,
textarea {
  border-radius: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

input:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

select {
  border-radius: 0;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

select,
textarea,
input:matches([type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));
}

.wrapper .header,
.wrapper .footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.wrapper main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.rouble {
  font-family: "Rouble", "Arial", sans-serif;
  /* stylelint-disable */
  text-transform: lowercase !important;
  font-weight: 400 !important;
  /* stylelint-enable */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-transition {
  /* stylelint-disable-next-line */
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

body {
  margin: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21.5px;
}

html {
  scroll-behavior: smooth;
}

.button {
  display: block;
  padding: 10px 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f5f6;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:disabled {
  opacity: 0.2;
}

.get-call-button {
  width: 160px;
  min-height: 40px;
  margin: 10px;
  border: 1px solid #f2f5f6;
  border-radius: 3px;
}

.get-call-button:hover {
  color: #375ea8;
  border-color: #375ea8;
}

.get-call-button:active {
  opacity: 0.5;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 60px;
  max-width: 43.3%;
  padding-left: 10px;
  padding-right: 10px;
}

.header-contacts__item {
  position: relative;
  min-height: 40px;
  min-width: 40px;
  padding: 8px 10px 8px 46px;
  color: #f2f5f6;
  text-decoration: none;
}

.header-contacts__item:hover {
  color: #375ea8;
}

.header-contacts__item:hover::before {
  opacity: 0.4;
}

.header-contacts__item:active {
  opacity: 0.5;
}

.header-contacts__item--mail::before,
.header-contacts__item--tel::before {
  content: "";
  position: absolute;
  left: 15px;
  display: block;
  width: 20px;
  height: 20px;
}

.header-contacts__item--mail::before {
  background-image: url("../img/svg/email-icon.svg");
}

.header-contacts__item--tel::before {
  background-image: url("../img/svg/phone-call-icon.svg");
}

.logo {
  width: 215px;
  height: 55px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.main-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  min-height: 80px;
  padding: 16px 50px 20px 35px;
  padding-left: 35px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(84.9%, #041827), to(rgba(4, 24, 39, 0)));
  background-image: -o-linear-gradient(top, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  background-image: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.main-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: inherit;
  max-width: 1205px;
  padding-right: 35px;
  margin: 0 auto;
}

.main-header__contacts {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.page-footer {
  padding: 55px 50px;
  padding-top: 35px;
  color: #f2f5f6;
  background-color: #041827;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1225px;
  padding-right: 40px;
  margin: 0 auto;
}

.page-footer__navigation-and-contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 805px;
  -webkit-column-gap: 97px;
  -moz-column-gap: 97px;
  column-gap: 97px;
  padding-top: 10px;
}

.page-footer__logo-and-social-wrapper {
  padding-top: 15px;
  margin-right: auto;
}

.social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (40px)[3];
  grid-template-columns: repeat(3, 40px);
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  row-gap: 5px;
  width: 150px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  list-style: none;
}

.social__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social__item-link svg {
  width: 40px;
  height: 40px;
  fill: #f2f5f6;
}

.social__item-link svg:hover {
  fill: #375ea8;
}

.social__item-link svg:active {
  fill: #4d76c5;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-nav__list {
  min-width: 150px;
  max-width: 210px;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  list-style: none;
}

.footer-nav__list:nth-child(2n) {
  margin-right: 0;
}

.footer-nav__item {
  margin-bottom: 10px;
}

.footer-nav__link {
  color: inherit;
}

.footer-nav__link:hover {
  text-decoration: underline;
  opacity: 0.6;
}

.footer-nav__link:active {
  opacity: 0.4;
}

.footer-nav__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", "arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer-logo {
  display: block;
  width: 215px;
  height: 55px;
  margin-bottom: 30px;
}

.footer-logo img {
  width: 215px;
  height: 55px;
}

.footer-logo img:hover {
  opacity: 0.8;
}

.footer-logo img:active {
  opacity: 0.6;
}

.footer-contacts {
  max-width: 308px;
}

.footer-contacts__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", "arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer-contacts__phone-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

.footer-contacts__phone-item {
  margin-bottom: 10px;
}

.footer-contacts__address {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
}

.hero-block {
  position: relative;
  min-height: 880px;
  padding: 50px;
  padding-top: 305px;
  margin-bottom: 70px;
  color: #f2f5f6;
  background-color: #535b63;
  background-image: url("../img/main-block-background-desktop.jpg");
  background-size: cover;
}

.hero-block::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(71.72%, rgba(25, 32, 36, 0.7)), to(rgba(25, 32, 36, 0)));
  background-image: -o-linear-gradient(top, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
  background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
}

@supports (background-image: url("../img/main-block-background-desktop.webp")) {
  .hero-block {
    background-image: url("../img/main-block-background-desktop.webp");
  }
}

.hero-block__wrapper {
  position: relative;
  z-index: 2;
  max-width: 1220px;
  padding-left: 125px;
  margin: 0 auto;
}

.hero-block h1 {
  margin: 0 0 32px;
  font-family: "Roboto Condensed", "arial", sans-serif;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.hero-block p {
  max-width: 680px;
  margin-bottom: 45px;
  font-size: 22px;
  line-height: 34px;
}

.hero-block__button {
  display: block;
  width: 100%;
  max-width: 410px;
  min-height: 55px;
  font-size: 18px;
  line-height: 21px;
  background-color: #00b2ff;
  border-radius: 3px;
}

.hero-block__button:hover {
  background-color: #008ecc;
}

.hero-block__button:active {
  color: rgba(255, 255, 255, 0.5);
}

.hero-block__button span:last-child {
  display: none;
}

.advantages {
  padding: 50px;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1222px;
  min-height: 630px;
  margin: 0 auto;
}

.advantages__card {
  min-height: 300px;
  min-width: 270px;
  width: 48.5%;
  margin-bottom: 30px;
  padding: 40px 45px;
  padding-left: 40px;
  color: #00b2ff;
  border: 1px solid #ebebeb;
  border-left: 5px solid #00b2ff;
}

.advantages__card:hover,
.advantages__card:hover p {
  color: #ffffff;
  background-color: #00b2ff;
}

.advantages__card p {
  color: #041827;
}

.advantages__card h3 {
  margin: 15px auto;
  margin-top: 12px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.advantages__card svg {
  width: 35px;
  height: 35px;
}

.about-us {
  padding: 0 50px;
}

.about-us__container {
  position: relative;
  max-width: 1220px;
  min-height: 320px;
  padding-left: 180px;
  margin: 40px auto 100px;
}

.about-us__container::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 150px;
  height: 320px;
  background-image: url("../img/2022.png");
  background-repeat: no-repeat;
}

.about-us__content-and-button {
  max-width: 970px;
  margin-left: auto;
}

.about-us__content {
  max-height: 230px;
  margin-bottom: 25px;
  overflow-y: hidden;
}

.about-us__content h2 {
  margin-bottom: 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
}

.about-us__content h2:first-of-type {
  margin-top: 0;
}

.about-us__content p {
  margin: 21px 0;
  font-size: 16px;
  line-height: 21.5px;
}

.about-us__content h2 + p {
  margin-top: 15px;
}

[data-is-full-size=full-size] {
  min-height: 400px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.about-us__button {
  width: 180px;
  min-height: 45px;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  border-radius: 3px;
}

.about-us__button:hover {
  color: #008ecc;
}

.about-us__button:active {
  opacity: 0.5;
}

.products {
  padding: 50px;
  padding-bottom: 90px;
  font-family: "Roboto Condensed", "arial", sans-serif;
  color: #ffffff;
  background-color: #041827;
}

.products__wrapper {
  min-height: 250px;
  max-width: 1220px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.products__card-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: minmax(250px, 1fr);
  grid-template-rows: minmax(250px, 1fr);
  -webkit-column-gap: 85px;
  -moz-column-gap: 85px;
  column-gap: 85px;
  row-gap: 50px;
}

.products__card {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 80px;
  grid-template-rows: 1fr 80px;
  min-height: 250px;
}

.products__card:hover {
  opacity: 0.8;
}

.products__card:hover::before {
  background-color: #008ecc;
}

.products__card:active::before {
  background-color: #33c1ff;
}

.products__card::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: #00b2ff;
  border-radius: 3px 0 0 0;
}

.products__card::after {
  position: absolute;
  bottom: 25px;
  right: 25px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  border-bottom: none;
  border-left: none;
  border-radius: 1px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.products__card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.products__card-picture-wrapper {
  grid-column: -1/1;
  grid-row: -1/1;
  width: 100%;
  height: 100%;
}

.products__title {
  margin-top: 16px;
  margin-bottom: 54px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

.products__title span:last-child {
  display: none;
}

.products__card h3 {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  max-width: 235px;
  padding: 48px 40px 0;
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.feedback {
  min-height: 580px;
  background-color: #00b2ff;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #026593), color-stop(50%, #00b2ff));
  background-image: -o-linear-gradient(top left, #026593 50%, #00b2ff 50%);
  background-image: linear-gradient(to bottom right, #026593 50%, #00b2ff 50%);
  background-size: 50%;
  background-repeat: no-repeat;
}

.feedback__wrapper {
  position: relative;
  max-width: 1300px;
  padding: 130px 50px 250px;
  margin: 0 auto;
}

.feedback__wrapper::before {
  position: absolute;
  left: 42px;
  top: 46%;
  content: "";
  display: block;
  width: 510px;
  height: 285px;
  background-image: url("../img/paper-airplane.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.feedback__form {
  position: relative;
  z-index: 1;
  margin-left: auto;
}

.feedback__form h2 {
  margin-top: 35px;
  margin-bottom: 14px;
  font-family: "Roboto Condensed", "arial", sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

.feedback__form p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.feedback__form-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.feedback__form-wrapper textarea {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.feedback__form-button {
  max-width: 265px;
  margin-top: 8px;
}

.form {
  max-width: 580px;
  color: #ffffff;
}

.form__wrapper {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
}

.form__button {
  min-height: 45px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 16px;
  line-height: 19px;
  background-color: #041827;
  border-radius: 3px;
}

.form__button:hover {
  background-color: #375ea8;
}

.form__button:active {
  color: rgba(255, 255, 255, 0.6);
}

.form__checkbox {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.form input:not([type=checkbox], [type=radio]),
.form textarea {
  width: 100%;
  font: inherit;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #019bdf;
}

.form input:not([type=checkbox], [type=radio])::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #f2f5f6;
}

.form input:not([type=checkbox], [type=radio])::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: #f2f5f6;
}

.form input:not([type=checkbox], [type=radio]):-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #f2f5f6;
}

.form input:not([type=checkbox], [type=radio])::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
  color: #f2f5f6;
}

.form input:not([type=checkbox], [type=radio])::placeholder,
.form textarea::placeholder {
  color: #f2f5f6;
}

.form input:not([type=checkbox], [type=radio]):hover,
.form textarea:hover {
  opacity: 0.8;
}

.form input:not([type=checkbox], [type=radio]):active,
.form textarea:active {
  opacity: 0.6;
}

.form textarea {
  width: 100%;
  height: 155px;
  padding: 20px 15px 25px;
  margin-bottom: 6px;
}

.form input:not([type=checkbox], [type=radio]) {
  min-height: 50px;
  padding: 15px;
}

.form input:not([type=checkbox], [type=radio]):focus[aria-invalid=true] {
  background-color: #ff5100;
}

.form input:not([type=checkbox], [type=radio]):focus[aria-invalid=false] {
  background-color: rgba(31, 161, 93, 0.8);
}

.form input:not([type=checkbox], [type=radio])[aria-invalid=true] {
  outline: 1px solid #ff5100;
}

.form input:disabled,
.form input:disabled:hover,
.form input:disabled:active {
  background-color: #ffffff;
  opacity: 0.2;
}

.form input:disabled::-webkit-input-placeholder,
.form input:disabled:hover::-webkit-input-placeholder,
.form input:disabled:active::-webkit-input-placeholder {
  color: #000000;
}

.form input:disabled::-moz-placeholder,
.form input:disabled:hover::-moz-placeholder,
.form input:disabled:active::-moz-placeholder {
  color: #000000;
}

.form input:disabled:-ms-input-placeholder,
.form input:disabled:hover:-ms-input-placeholder,
.form input:disabled:active:-ms-input-placeholder {
  color: #000000;
}

.form input:disabled::-ms-input-placeholder,
.form input:disabled:hover::-ms-input-placeholder,
.form input:disabled:active::-ms-input-placeholder {
  color: #000000;
}

.form input:disabled::placeholder,
.form input:disabled:hover::placeholder,
.form input:disabled:active::placeholder {
  color: #000000;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 14px;
  line-height: 16px;
}

.control:hover {
  color: #375ea8;
}

.control input {
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 20px 10px 0 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.control input:hover::before,
.control input:hover::after {
  border-color: #375ea8;
}

.control input::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.control input:checked::after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  display: block;
  width: 6.5px;
  height: 4.5px;
  border: 1px solid #ffffff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.control input:active::after {
  opacity: 0.3;
}

.control input:disabled::before {
  opacity: 0.2;
}

.control input:disabled::after {
  opacity: 0.2;
}

.control input[aria-invalid=true]::before {
  border-color: #ff5100;
}

.modal {
  display: none;
}

.modal.is-active {
  display: block;
}

.modal.is-active .modal__content {
  position: fixed;
  top: 146px;
  left: 50%;
  z-index: 15;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.modal.is-active .modal__overlay {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 16, 27, 0.7);
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.modal__close-btn:hover {
  opacity: 0.5;
}

.modal__close-btn:active {
  opacity: 0.3;
}

.modal__close-btn::before,
.modal__close-btn::after {
  position: absolute;
  z-index: 2;
  content: "";
  display: block;
  width: 28px;
  height: 1.3px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__close-btn::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal__content {
  position: relative;
  width: 500px;
  padding: 40px;
  color: #ffffff;
  background-color: #00b2ff;
}

.modal__form p {
  max-width: 380px;
  margin-top: 5px;
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 21.5px;
}

.modal__form h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Roboto Condensed", "arial", sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
}

.modal__form-wrapper {
  row-gap: 19px;
}

.modal__form-checkbox input {
  margin-top: 0;
  margin-left: 10px;
}

/* @mixin hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        @content;
      }
    }

    &.focus-visible:focus {
      @content;
    }
  }
*/

/*  @include hover-focus {
      opacity: 0.8;
    }
*/

/*@mixin hover {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        @content;
      }
    }
  }
*/

/*@mixin focus {
    &.focus-visible:focus {
      @content;
    }
  }
*/

/*@mixin active {
    &.focus-visible:active {
      @content;
    }
  }
*/

@media (max-width: 1023px) {
  .get-call-button {
    display: none;
  }

  .header-contacts {
    max-width: 100px;
    padding: 0;
    padding-bottom: 15px;
  }

  .header-contacts__item {
    width: 40px;
    height: 40px;
    padding: 0;
  }

  .header-contacts__item--mail::before,
  .header-contacts__item--tel::before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .header-contacts__item span {
    display: none;
  }

  .main-header {
    position: absolute;
    padding-top: 8px;
    padding-left: 50px;
  }

  .main-header__container {
    padding-right: 20px;
  }

  .page-footer__container {
    padding-right: 0;
  }

  .page-footer__navigation-and-contacts {
    -webkit-column-gap: 141px;
    -moz-column-gap: 141px;
    column-gap: 141px;
    padding-right: 10px;
  }

  .page-footer__logo-and-social-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
  }

  .social {
    margin-top: 5px;
  }

  .footer-nav__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .footer-nav__list {
    margin-right: 0;
  }

  .footer-nav__item {
    margin-bottom: 9px;
  }

  .footer-nav__title {
    margin-top: 15px;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-contacts {
    max-width: 100%;
  }

  .footer-contacts__title {
    margin-top: 15px;
  }

  .hero-block {
    min-height: 640px;
    padding-top: 180px;
    margin-bottom: 30px;
    background-image: url("../img/main-block-background-tablet.jpg");
  }

@supports (background-image: url("../img/main-block-background-tablet.webp")) {
    .hero-block {
      background-image: url("../img/main-block-background-tablet.webp");
    }
}

  .hero-block__wrapper {
    padding-left: 0;
  }

  .hero-block h1 {
    margin-bottom: 20px;
    font-size: 64px;
    line-height: 75px;
  }

  .hero-block h1 {
    margin-bottom: 0;
  }

  .hero-block p {
    margin-top: 1px;
    margin-bottom: 55px;
  }

  .hero-block__button {
    margin-left: 45px;
  }

  .advantages__card {
    padding-bottom: 17px;
    margin-bottom: 28px;
    width: 47.8%;
    min-height: 360px;
  }

  .advantages__card p {
    margin-top: 5px;
  }

  .advantages__card h3 {
    margin: 9px auto;
  }

  .about-us {
    padding-left: 45px;
  }

  .about-us__container {
    margin: 0 auto 80px;
  }

  .about-us__content {
    max-height: 320px;
    margin-bottom: 17px;
  }

  .about-us__content h2 {
    margin-bottom: 12px;
  }

  .about-us__content h2 + p {
    margin-top: 12px;
  }

  .products {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .products__card-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .products__title {
    margin-bottom: 39px;
  }

  .products__card h3 {
    max-width: 195px;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 0;
  }

  .feedback {
    background-image: none;
  }

  .feedback__wrapper {
    padding-top: 15px;
    padding-bottom: 125px;
  }

  .feedback__wrapper::before {
    content: none;
  }

  .feedback__form {
    margin: auto;
  }

  .feedback__form h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .feedback__form p {
    margin-bottom: 23px;
  }

  .form {
    max-width: 670px;
  }

  .form textarea {
    padding-top: 30px;
  }

  .control input {
    margin-left: 0;
  }

  .modal.is-active {
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 1023px), (-o-min-device-pixel-ratio: 3/2) and (max-width: 1023px), (min-resolution: 144dpi) and (max-width: 1023px), (min-resolution: 1.5dppx) and (max-width: 1023px) {
  .hero-block {
    background-image: url("../img/main-block-background-tablet@2x.jpg");
  }

@supports (background-image: url("../img/main-block-background-tablet@2x.webp")) {
    .hero-block {
      background-image: url("../img/main-block-background-tablet@2x.webp");
    }
}
}

@media (max-width: 767px) {
  .accordion {
    margin: 0 auto 0 auto;
  }

  .accordion .accordion {
    width: 90%;
    margin: 0 auto;
  }

  .accordion__element:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(248, 253, 255, 0.6);
  }

  .accordion__element {
    border-top: 1px solid rgba(248, 253, 255, 0.6);
    position: relative;
  }

  .accordion__element::before,
  .accordion__element::after {
    position: absolute;
    top: 27px;
    right: 28px;
    content: "";
    display: block;
    width: 15px;
    height: 1px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
  }

  .accordion__element::after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .accordion__element.is-active::after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .accordion__element-title {
    display: none;
  }

  .accordion__element.is-active > .accordion__button {
    opacity: 0.5;
  }

  .accordion__button {
    display: block;
    width: 100%;
    min-height: 58px;
    padding: 10px 25px;
    padding-right: 160px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.05em;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .accordion__button:hover {
    background-color: #375ea8;
  }

  .accordion__button:active {
    background-color: #4d76c5;
  }

  .accordion__wrapper {
    padding: 10px;
  }

  .header-contacts {
    min-height: 45px;
    padding-bottom: 5px;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  .main-header {
    min-height: 45px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .main-header__container {
    padding-right: 10px;
  }

  .page-footer {
    padding: 20px 0 35px;
  }

  .page-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-right: 0;
  }

  .page-footer__navigation-and-contacts {
    width: 100%;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    padding-right: 0;
  }

  .page-footer__logo-and-social-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 25px;
    margin-right: 0;
  }

  .social {
    margin-left: 0;
  }

  .footer-nav {
    display: -ms-grid;
    display: grid;
  }

  .footer-nav__wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer-nav__list {
    max-width: 100%;
  }

  .footer-nav__link {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .footer-nav__link:hover {
    background-color: #375ea8;
    text-decoration: none;
    opacity: 1;
  }

  .footer-nav__link:active {
    background-color: #375ea8;
    opacity: 0.5;
  }

  .footer-contacts {
    font-size: 14px;
  }

  .footer-contacts__phone-list {
    padding-left: 25px;
  }

  .footer-contacts__address {
    padding-left: 25px;
    margin-bottom: 15px;
    line-height: 19px;
  }

  .hero-block {
    min-height: 560px;
    padding: 150px 25px 50px;
  }

  .hero-block h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .hero-block p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
    margin-bottom: 45px;
  }

  .hero-block__button {
    margin-left: 0;
    min-height: 40px;
    font-size: 14px;
    line-height: 16px;
  }

  .hero-block__button span:last-child {
    display: block;
  }

  .hero-block__button span:first-child {
    display: none;
  }

  .advantages {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
  }

  .advantages__card {
    padding: 30px 30px 42px 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    min-height: 325px;
  }

  .advantages__card:first-child {
    min-height: 340px;
  }

  .advantages__card p {
    font-size: 14px;
    line-height: 19px;
  }

  .advantages__card h3 {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 31px;
  }

  .advantages__card svg {
    width: 30px;
    height: 30px;
  }

  .about-us {
    padding: 0 25px;
  }

  .about-us__container {
    padding: 0;
    margin-bottom: 70px;
  }

  .about-us__container::before {
    content: none;
  }

  .about-us__content {
    max-height: 260px;
    margin-bottom: 14px;
  }

  .about-us__content h2 {
    font-size: 28px;
    line-height: 39px;
  }

  .about-us__content p {
    font-size: 14px;
    line-height: 19px;
  }

  .about-us__button {
    width: 160px;
    min-height: 35px;
  }

  .products {
    padding: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .products__wrapper {
    margin-bottom: 8px;
  }

  .products__card {
    -ms-grid-rows: 1fr 60px;
    grid-template-rows: 1fr 60px;
  }

  .products__card::before {
    width: 40px;
    height: 40px;
  }

  .products__card::after {
    bottom: 17px;
    right: 17px;
    width: 6px;
    height: 6px;
  }

  .products__title {
    margin-bottom: 30px;
    font-size: 29px;
    line-height: 39px;
  }

  .products__title span:first-child {
    display: none;
  }

  .products__title span:last-child {
    display: block;
  }

  .products__card h3 {
    max-width: 165px;
    padding-top: 26px;
    padding-left: 30px;
    font-size: 18px;
  }

  .feedback__wrapper {
    padding: 15px 25px 92px;
  }

  .feedback__form h2 {
    font-size: 30px;
    line-height: 42px;
  }

  .feedback__form p {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 19px;
  }

  .feedback__form-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .feedback__form-wrapper textarea {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .feedback__form-button {
    max-width: 100%;
    margin-top: 0;
  }

  .form textarea {
    height: 180px;
    padding-top: 22px;
    margin-bottom: 10px;
  }

  .control input {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 9px;
  }
}

@media (max-width: 320px) {
  .hero-block {
    background-image: url("../img/main-block-background-mobile.jpg");
  }

@supports (background-image: url("../img/main-block-background-mobile.webp")) {
    .hero-block {
      background-image: url("../img/main-block-background-mobile.webp");
    }
}
}

@media (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 320px), (-o-min-device-pixel-ratio: 3/2) and (max-width: 320px), (min-resolution: 144dpi) and (max-width: 320px), (min-resolution: 1.5dppx) and (max-width: 320px) {
  .hero-block {
    background-image: url("../img/main-block-background-mobile@2x.jpg");
  }

@supports (background-image: url("../img/main-block-background-mobile@2x.webp")) {
    .hero-block {
      background-image: url("../img/main-block-background-mobile@2x.webp");
    }
}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .hero-block {
    background-image: url("../img/main-block-background-desktop@2x.jpg");
  }

@supports (background-image: url("../img/main-block-background-desktop@2x.webp")) {
    .hero-block {
      background-image: url("../img/main-block-background-desktop@2x.webp");
    }
}

  .feedback__wrapper::before {
    background-image: url("../img/paper-airplane@2x.png");
  }
}